<html>
    <head>
        <style>

        </style>
    </head>
    <body>
        <p>Hi {{name}},</p>
        <p>Welcome to ILERI-OLUWA JIM-KAD Ventures. </p>
        <p>Place your orders today on our<a href="https://ilerioluwa.vercel.app">website</a> </p>
        <br>
        <p> ILERI-OLUWA JIM-KAD Team</p>
        <a href="https://ilerioluwa.vercel.app">ilerioluwa.vercel.app</a>
    </body>
</html>